go 1.24.2

use (
	./http-default
)

use (
	./interceptor-approval
)

use (
	./interceptor-script
)

use (
	./tool-ask
)

use (
	./prompt-default
)

use (
	./asset-local
)

use (
	./session-sqlite
)

use (
	./app-webui
	./agent-default
	./context-compact
	./model-openai-compatible
	./tool-edit
	./tool-runtime
)
